<div class="top">
  <div class="user_acount_area">
    <div class="acount_image_area">
      <div class="acount_title">
        <h1 class="fw-bold">アカウント情報</h1>
        <p class="fs-5">アカウント情報では、現在のアカウント情報をご確認いただけます。編集する場合は、編集するボタンをクリックしてください。</p>
      </div>
    </div>
  </div>
  <div class="account_information">
    <div class="acount_container">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row" class="align-middle">アイコン</th>
            <td>
              <% if @user.image.attached? %>
                <div class="acount_image">
                  <%= image_tag @user.image %>
                </div>
              <% else %>
                <div class="acount_image">
                  <%= image_tag "user_image/user_image.png" %>
                </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <th scope="row">ユーザー名</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th scope="row">メールアドレス</th>
            <td colspan="2"><%= @user.email %></td>
          </tr>
          <tr>
            <th scope="row">パスワード</th>
            <td colspan="2">●●●●●●</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-secondary editpage" data-bs-toggle="modal" data-bs-target="#editModalacount">
          プロフィール編集
        </button>
      </div>
      <div class="modal fade" id="editModalacount" tabindex="-1" aria-labelledby="editModalacount" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalacount">プロフィール編集</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div style="max-height: 500px; overflow-y: auto;">
                <%= render 'shared/edit' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
document.addEventListener("turbolinks:load", function() {
  const editModalAcount = new bootstrap.Modal(document.getElementById('editModalacount'));
  const tabs = $(".tab");
  tabs.off("click").on("click", function() {
    $(".active").removeClass("active");
    $(this).addClass("active");
    const index = tabs.index(this);
    $(".content").removeClass("show").eq(index).addClass("show");
  });
  $('.editpage').off("click").on('click', function() {
    editModalAcount.show();
  });
  $('.btn-close').off("click").on('click', function() {
    editModalAcount.hide();
  });
});
</script>
