<div class="top change-top">
  <div class="row justify-content-center change-area">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="mb-0">パスワードの変更</h2>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-group">
              <%= f.label :password, "新しいパスワード" %>
              <% if @minimum_password_length %>
                <small class="text-muted">
                  (<%= @minimum_password_length %>文字以上)
                </small>
              <% end %>
              <%= f.password_field :password, class: 'form-control', autofocus: true, autocomplete: "new-password", placeholder: "新しいパスワードを入力" %>
            </div>
            <div class="form-group mt-3">
              <%= f.label :password_confirmation, "パスワードの確認" %>
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password", placeholder: "再度、新しいパスワードを入力" %>
            </div>
            <div class="actions mt-3">
              <%= f.submit "パスワードを変更", class: 'btn btn-primary btn-block' %>
            </div>
          <% end %>
          <div class="mt-3 login-path">
            <p><%= render "devise/shared/links" %>はこちらから</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

