<div class="top reset-top">
  <div class="register-area login-area">
    <div class="register-image">
      <div class="register-title-area">
        <div class="register-title-container w-75 mx-auto">
          <div class="relative-title-area mt-5 mb-3">
            <div class="relative-area">
              <div class="relative-path">
                <%= link_to '/', class: 'navbar-brand' do %>
                  <i class="icon-arrow-right"></i>Travel Plan App
                <% end %>
              </div>
              <h1>パスワード再設定</h1>
            </div>
          </div>
          <div class="field-area">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="field form-group">
                <%= f.label "メールアドレス" %><br>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "type_email form-control", required: "required" %>
                <%= f.label "※入力必須項目です" %>
              </div>
              <div class="actions">
                <%= f.submit "パスワード再設定メールを送る", class: "btn btn-blue btn--cubic mt-3" %>
              </div>
            <% end %>
            <hr class="hr_border mt-5 mb-3">
            <div class="under-forms pb-3">
              <p>すでにアカウントをお持ちの場合は、<%= render "devise/shared/links" %>してください</p>
              <p>
                アカウントをお持ちでない場合は<%= render "devise/shared/sigin_up_link" %>を行うか、<%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>をしてください。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
