<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <% if user_signed_in? %>
        <h1><%= link_to 'Travel Plan App', travelplans_home_path(@user.id), class: 'navbar-brand' %></h1>
      <% else %>
        <h1><%= link_to 'Travel Plan App', '/', class: 'navbar-brand' %></h1>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="pop-travel-tag" >
            <%= link_to '#', class: 'text-dark text-decoration-none' do %>
              <i class="bi bi-airplane-engines"></i>人気旅行プラン
            <% end %>
          </li>
          <li class="pop-travel-tag">
            <%= link_to '#', class: 'text-dark text-decoration-none' do %>
              <i class="bi bi-file-post"></i>投稿
            <% end %>
          </li>
        </ul>
      </div>
      <% if user_signed_in? %>
        <div class="dropdown user_icon"> 
          <div id="OpenMenu" class= "dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
            <span><%= @user.name %></span>
          </div>
          <ul class="dropdown-menu" aria-labelledby="OpenMenu">
            <li><%= link_to "マイページ", user_path(@user.id), class: "dropdown-item text-dark text-decoration-none" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, class: "dropdown-item text-dark text-decoration-none", method: :delete %></li>
          </ul>
          </div>
        </div>
      <% else %>
        <div>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="header1">
                <%= link_to '#', class: 'text-dark text-decoration-none' do %>
                  <i class="bi bi-box-arrow-in-right"></i>ログイン
                <% end %>
              </li>
              <li class="header1">
                <%= link_to users_guest_sign_in_path, class: 'text-dark text-decoration-none', method: :post do %>
                  <i class="bi bi-person-down"></i>ゲストログイン（閲覧用）
                <% end %>
              </li>
              <li class="header1">
                <%= link_to new_user_registration_path, class: 'text-dark text-decoration-none' do %>
                  <i class="bi bi-plus-circle-dotted"></i>新規登録
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </nav>
</header>
